{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for dish in dish_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in dish.dish_pic.url %}
                                <img class="card-img-top"
                                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ dish.dish_pic.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">{{ dish.name }}</p>
                                </div>
                            </div>
                            <span class="post-link">
                                <h2 class="card-title">{{ dish.name }}</h2>
                                <p class="card-text">{{ dish.description }}</p>
                            </span>
                            <hr />
                            <div class="card-text text-muted h6">
                                <span>{{ dish.carbs_amount }}<br>Carbs</span>{{ dish.protien_amount }}<br>Protien</span>{{ dish.fat_amount }}<br>Fat</span>{{ dish.calorie_amount }}<br>Calories</span>
                                <i class="far fa-heart"></i>
                            </div>
                            <div>
                                <i class="allergen-level-yes"><span class=" eicon eicon-circle-{{dish.allergy_icon}}"></span></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}